.aside {
    z-index: -5;
  min-height: inherit;
  min-width: 30%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 1) 35%,
    rgba(65, 124, 187, 1) 65%,
    rgba(2, 0, 36, 1) 100%
  );
  &__box {
    margin-top: 20em;
    @media (max-width: 740px) {
        text-align: center;
        margin-bottom: 4em;
      }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 12px 30px;
    &--edu {
        &::before {
           background: url(../assets/img/graduation-cap.svg);
           background-repeat: no-repeat;
       }
   }
    &--item {
        list-style: none;
        list-style-position: outside;
        position: relative;
        margin: 8px 32px;
      &::before {
        position: absolute;
        content: "";
        left: -42px;
        top: -4px;
        display: block;
        background-color: #fff;
        width: 12px;
        height: 12px;
        margin: 6px 12px;
        @media (max-width: 740px) {
            display: none;
          }
      }
    }
    &--lang {
        &::before {
           background: url(../assets/img/comments.svg);
           background-repeat: no-repeat;
       }
   }
    &--soft {
        &::before {
           background: url(../assets/img/user-friends.svg);
           background-repeat: no-repeat;
       }
   }
    &--tech {
        &::before {
           background: url(../assets/img/code.svg);
           background-repeat: no-repeat;
       }
   }
   &--title {
    text-decoration: underline;
    position: relative;
    margin-left: 28px;
    &::before {
        position: absolute;
        content: "";
        width: 46px;
        height: 46px;
        margin-left: -52px;
        top: 0px;
    }
    @media (max-width: 740px) {
        font-size: 24px;
      }
  }
}
}