@import "~normalize.css";

@import "_variables";
@import "modules/header.scss";
@import "modules/aside.scss";
@import "modules/work.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

:root {
  /* Heading height variable*/
  --heading-height: 20em;
  --aside-height: 10em;
}

body {
  color: #fff;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}


.vertical {
  margin-top: 20em;
  margin-left: 4em;
  border-left: 4px solid black;
  min-height: 100vh;
  opacity: 0.6;
  z-index: -1;
  @media (max-width: 740px) {
    display: none;
  }
}


.main {
  display: flex;
  @media (max-width: 740px) {
    flex-direction: column;
  }
}
